@import "../node_modules/cssrecipes-defaults/index.css";
@import "../node_modules/cssrecipes-custom-media-queries/index.css";
@import "../node_modules/cssrecipes-grid/index.css";

.r-Grid {
  width: auto;
  margin: 0 auto;
}

  @media (--r-minS) {
  	.r-Grid {
      width: 30rem;
    }
  }

  @media (--r-minM) {
  	.r-Grid {
      width: 50rem;
    }
  }

.r-Grid-cell {
  border: 1px solid red;
  background: #f0f0f0;
}

@import "../index.css";
